{% extends 'base.html' %}
{% block body %}
    {% load static %}
    <div class="container">
        <div class="wrapper">
            <h1 class='text-center'><strong>Trainer</strong></h1>
            <div class="row">
                {% for trainer in trainers %}
                    <div class="col-md-6 mb-4">
                        <div class="card" id='trainer-card'>
                            <div class="card-body" id='trainer-card-body'>
                                {% if trainer.image %}
                                <div class='text-center'>
                                    <img src="{% static 'images/'|add:trainer.name|lower %}.png" alt="{{ trainer.name }}" style="width: 300px; height: 700px; object-fit: cover;">
                                </div>
                                {% else %}
                                    <img src="{% static 'images/'|add:trainer.name|lower %}.png" alt="{{ trainer.name }}">
                                {% endif %}
                                <h5 class="card-title"><strong>{{ trainer.name }}</strong></h5>
                                <p class="card-text"><strong>Birthday:</strong> {{ trainer.birthday }}</p>
                                <p class="card-text"><strong>Location:</strong> {{ trainer.location }}</p>
                                <p class="card-text"><strong>Email:</strong> {{ trainer.email }}</p>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
